body {
    background: rgb(48, 120, 255);
}

h1 {
    color: rgb(228, 228, 228);
}

#info {
    margin-bottom: 20px;
}

#info table {
    border: 1px solid #aaa;
    padding: 10px;
    text-align: center;
}

#info td, #info th {
    padding: 10px 20px;
}
